sudo: false
language: node_js

node_js:
  - "14"
  - "13"
  - "12"
  - "11"
  - "10"

env:
  - COVERAGE=false

matrix:
  fast_finish: true
  include:
    - node_js: "10"
      env: COVERAGE=true
      script:
        - "npm run cover"
        - bash <(curl -s https://codecov.io/bash)
  allow_failures:
    - node_js: "10"
      env: COVERAGE=true
      script:
        - "npm run cover"
        - bash <(curl -s https://codecov.io/bash)

before_script:
  - npm prune
after_success:
  - travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
